/* Start Variables */
:root {
    --main-color: rgb(24, 23, 29);
    --second-color: rgb(28, 28, 36);
    --third-color: #F9B17A;
    --box-shadow: 0px 0px 5px 0px #263238;
}
/* End Variables */
/* Start global rules */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background-image: url("../images/main-background-blur.png");
    background-size: cover;
}
* {
    box-sizing: border-box;
}
/* End global rules */
/* Start content */
.content {
    padding: 15px 30px;
    width: 400px;
    background-color: var(--second-color);
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--box-shadow);
}
/* Small Screens */
@media (max-width: 450px) {
    .content {
        width: calc(100% - 25px);
    }
}
.content .tabs {
    display: flex;
}
.content .tabs div {
    margin-right: 10px;
}
.content .tabs div:nth-child(1) {
    border-bottom: 3px solid var(--third-color);
    border-radius: 3px;
}
.content .tabs div a {
    text-decoration: none;
    color: #FFF;
    display: block;
    padding: 8px 10px;
}
.content h1 {
    margin-top: 100px;
    color: #FFF;
    font-weight: 300;
}
.content form {
    display: flex;
    flex-direction: column;
}
.content form label {
    color: #BBB;
    font-size: 12px;
    margin-bottom: 5px;
}
.content form input {
    padding: 10px;
    border-radius: 8px;
}
.content form input:not(#submit) {
    margin-bottom: 20px;
    background-color: transparent;
    color: #FFF;
    font-size: 15px;
    border: 1px solid #AAA;
}
.content form input:not(#submit):focus {
    outline: 1px solid #FFF;
}
.content form #submit {
    margin-top: 10px;
    background-color: #167EF9;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border: none;
    box-shadow: 0 0 5px 0 #000;
}
.content form #submit:hover {
    cursor: pointer;
}
/* End content */